@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #12F7D6;
  --primaryLight: #98FAEC;
  --grey: #43444D;
  --dark: #1A1E23;
  --darkLight: #292F36;
  --white: #fff;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('./assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('./assets/fonts/IBMPlexMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: var(--white);
  scroll-behavior: smooth;
}